<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Response</title>
</head>
<body>
    <h1>Success Response</h1>
    <p>Successfully logged in Data</p>
    {% if user.is_authenticated %}
        <p><strong>Logged Username:</strong> {{ user.username }}</p>
        <p><strong>Logged Email:</strong> {{ user.email }}</p>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>